@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Mukta:wght@300&display=swap');
:root{
    --color-white:#f3f3f3;
    --color-darkblue:#796ec8;
    --color-darkblue-alpha:rgb(102, 166, 235);
    --color-green:rgb(34, 221, 34);
}
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    font-family: 'mukta';
    font-size: 1.20rem;
    font-weight: 300;
    line-height: 1.4;
    color:var(--color-white);
    margin: 0;
    
}
body::before{
    content:'';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(215deg,rgba(75,113,179,0.8),rgba(124,192,147,0.8),url(./image/WhatsApp\ Image\ 2022-12-05\ at\ 08.33.19.jpeg));

}
