@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;
    font-family: 'Poppins', sans-serif;
}
:root{
    --main-color:#e84242;
    --black-color:black;
    --border:0.1rem solid rgba(255,255,255,0)


}
/* base html code  burada rem px donusumu yaptim 1rem=16px*/
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;

}
body{
    background-color: var(--main-color);
    height: 200vh;
}
section{
    padding: 3.5rem 7%;
    
}
.title{
    font-size: 2rem;
}
/*  */

.header .logo img{
    height: 7rem;
}
.header{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px gray ;
    position: sticky;
    top: 0;
    z-index: 1000;

}
.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent;

}
.header .navbar .active,
.header .navbar a:hover{
    border-color: var(--main-color);
    padding-bottom: 0.5rem;
}
.header .buttons button{
    cursor: pointer;
    font-size: 2rem;
    margin-left: 2rem;
    background-color: transparent;

    
}
.home{
    min-height: 100vh;
    background: url(./img/drive-download-20221214T151733Z-001/home.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -14.5;
    display: flex;
    align-items: center;

}
.home .content h3{
    font-size: 6rem;
    color:antiquewhite;


}
.home .content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color: beige;

}